<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Css -->
    
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


<!-- Criar uma navbar lateral com as opções de cadastrar clientes, docentes e treinamentos -->
<div class="d-flex">
  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
    <img src="{% static 'image/calendario.ico.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
  </button>
  <h5 class="offcanvas-title">Agendamento</h5>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <img src="{% static 'image/calendario.ico.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
    
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <nav class="nav flex-column">
      <a class="nav-link active" aria-current="page" href="{% url "calendario_agendamento" %}">Visualizar agendamentos</a>
      <a class="nav-link" href="{% url 'clientes' %}">Cadastrar cliente</a>
      <a class="nav-link" href="{% url 'cadastrardocente' %}">Cadastrar docente</a>
      <a class="nav-link" href="{% url 'treinamento' %}">Cadastrar treinamento</a>
      <a class="nav-link" href="#">Inserir agendamento</a>
      <a class="nav-link disabled" aria-disabled="true">Sair</a>
    </nav>
  </div>

</div>


{% if messages %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endif %}

<body class="container mt-4">
    <form class="row g-3 mt-4" id="DadosForm" method= "POST">
      {% csrf_token %}
 
        <div class="col-md-3">
          <label for="treinamento" class="form-label">Treinamento</label>
          <select class="form-select" id="treinamento" name= "treinamento">
            <option value= "">Selecione o treinamento</option>
            {%for treinamento in treinamentos%}
            <option value= "{{treinamento.id}}">{{treinamento.nome}} {{treinamento.formacao}}
              {{treinamento.modalidade}}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="col-3">
          <label for="docente" class="form-label">Docente</label>
          <select class="form-select" id="docente" name= "docente">
            <option value= "">Selecione o docente</option>
            {%for docente in docentes%}
            <option value= "{{docente.id}}">{{docente.nome}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-3">
          <label for="proposta" class="form-label">Proposta</label>
          <input type="text" class="form-control" id="proposta" name="proposta" >
        </div>
        <div class="col-md-3">
          <label for="empresa" class="form-label">Empresa</label>
          <input type="text" class="form-control" id="empresa" name="empresa">
        </div>

        <div class="col-md-3">
            <label for="cliente" class="form-label">Cliente</label>
            <select class="form-select" id="cliente" name= "cliente">
            <option value= "">Selecione o cliente</option>
            {%for cliente in clientes%}
            <option value= "{{cliente.id}}">{{cliente.nome}} {{cliente.regiao}}</option>
            {% endfor %}
            </select>
        </div>


        <div class="col-md-3">
            <label for="{{ form.status.id_for_label }}" class="form-label">Status</label><br>
            {{ form.status }}
        </div>
              
        <div class="col-md-3">
            <label for="data_inicial" class="form-label">Data inicial</label>
            <input type="date" class="form-control" id="data_inicial" name="data_inicial">
        </div>
        <div class="col-md-3">
            <label for="data_final" class="form-label">Data final</label>
            <input type="date" class="form-control" id="data_final" name="data_final">
        </div>
        <div class="col-md-3">
          <label for="dias_treinamento" class="form-label">Dias de treinamento</label>
          <input type="text" class="form-control" id="dias_treinamento" name="dias_treinamento">
        </div>
        <div class="col-md-3">
            <label for="turno" class="form-label">Turno</label>
            <input type="text" class="form-control" id="turno" name="turno">
        </div>
        <div class="col-md-3">
            <label for="horas" class="form-label">Horas</label>
            <input type="time" class="form-control" id="horas" name="horas">
        </div>

        <div class="col-md-4">
          <label for="observacao" class="form-label">Observação</label>
          <input type="text" class="form-control" id="observacao" name="observacao">
      </div><br>

        <div class="col-cd-3">
            <button type="submit" class="btn btn-dark">Cadastrar agendamento</button>
        </div>
    </form>

</body>

<!-- jQuery e Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</html>
